.footer-preto{
	background-color: white;
}

.sticky-nav{
	position: fixed;
	top: 0;
}

.back_extend{
	background: #4B0082;
}

#criarConta:hover{
	color: grey;
}

#btn-proximo-cad{
	background-color: #304ffe !important;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

<<<<<<< HEAD
.aboutquadros{
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	border-radius: 10px;
	background-color: black;
	
=======
.cc{
	background-color: #6f339b !important;
}

.cad_btn_cad{
	background-color: green !important;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
>>>>>>> b6f4a0ba156eff6cba940f34b7ca7576f2a2bbd0
}


@media only screen and (max-width: 601px){
	#scss-cad{
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		border-radius: 0;
	}

	#scss-assina{
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		border-radius: 0;
	}

	#scss-cad-a{
		border-top-left-radius: 0px;
	}

	#scss-cad-b{
		border-top-right-radius: 0px;
	}

	.scss-cad-width-100{
		width: 100%;

	}

}

@media only screen and (max-width: 992px){
	#scss-cad-a{
		border-right: 0px solid;
		border-top-right-radius: 10px;
		border-bottom: 2px solid #6f339b;
	}
	#scss-cad-b{
		border-top-right-radius: 0px;
	}
}
