.footer-preto{
	background-color: white;
}

.sticky-nav{
	position: fixed;
	top: 0;
}

.back_extend{
	background: #4B0082;
}

#criarConta:hover{
	color: grey;
}

#btn-proximo-cad{
	background-color: #304ffe !important;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

.aboutquadros{
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	border-radius: 10px;
	background-color: black;
}

	
.cc{
	background-color: #6f339b !important;
}

.cad_btn_cad{
	background-color: green !important;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 992px){
	#scss-cad-a{
		border-right: 0px solid !important;
		border-top-right-radius: 10px !important;
		border-bottom: 2px solid #6f339b !important;
	}
	#scss-cad-b{
		border-top-right-radius: 0px !important;
	}
	.container-slider{
		max-height: 300px;
	}
	.pading-top-med{
		margin-top: 15px !important;
	}
}

@media only screen and (max-width: 601px){
	
	#scss-cad{
		margin-right: 0 !important;
		margin-left: 0 !important;
		width: 100% !important;
		border-radius: 0 !important;
	}

	#scss-assina{
		margin-right: 0 !important;
		margin-left: 0 !important;
		width: 100% !important;
		border-radius: 0 !important;
	}

	.width100{
		margin-left: 0 !important;
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		margin-right: 0 !important;
		width: 100% !important;
	}

}
