.footer-preto{
	background-color: white;
}

.sticky-nav{
	position: fixed;
	top: 0;
}

.back_extend{
	background: #4B0082;
}

#criarConta:hover{
	color: grey;
}

#btn-proximo-cad{
	background-color: #304ffe !important;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

.aboutquadros{
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	border-radius: 10px;
	background-color: black;
}

	
.cc{
	background-color: #6f339b !important;
}

.cad_btn_cad{
	background-color: green !important;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

.animatedhover:hover {
	animation-play-state: running;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.butn_saiba:hover {

	background-color: #4a148c !important;
}

.hover-detalhes:hover{
	background-color: #4a148c !important;
	color: white !important;
}
.butn-confira-index:hover{
	background-color: #e0bb1a !important;
}

.butn-contact-index:hover{
	background-color: #42a5f5 !important;
}

@media only screen and (max-width: 992px){

	.deta-responsivo{
		height: 500px !important;	
	}

	#scss-cad-a{
		border-right: 0px solid !important;
		border-top-right-radius: 10px !important;
		border-bottom: 2px solid #6f339b !important;
	}
	#scss-cad-b{
		border-top-right-radius: 0px !important;
	}
	.container-slider{
		max-height: 300px;
	}
	.pading-top-med{
		margin-top: 15px !important;
	}

	.min-phone{
		border-right: 0px solid !important;
	}

	.alo{
		background-image: none !important;
		height: 300px !important;
	}

	.width1000{
		margin-left: 0 !important;
		border-radius: 0 !important;
		margin-right: 0 !important;
		width: 100% !important;
	}

}

@media only screen and (max-width: 601px){

	.deta-responsivo{
		height: 300px !important;	
	}
	
	#scss-cad{
		margin-right: 0 !important;
		margin-left: 0 !important;
		width: 100% !important;
		border-radius: 0 !important;
	}

	#scss-assina{
		margin-right: 0 !important;
		margin-left: 0 !important;
		width: 100% !important;
		border-radius: 0 !important;
	}

	.width100{
		margin-left: 0 !important;
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		margin-right: 0 !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		width: 100% !important;
	}

	.animar_home.b{
		margin-top: 20px !important;
	}

}

@media only screen and (max-width: 375px){

	.deta-responsivo{
		height: 200px !important;	
	}

	.alo{
		height: 530px !important;
	}

}
