.footer-preto{
	background-color: white;
}

.sticky-nav{
	position: fixed;
	top: 0;
}

.back_extend{
	background: #4B0082;
}

#criarConta:hover{
	color: grey;
}


@media only screen and (max-width: 601px){
	
	#scss-cad{
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}

	#scss-assina{
		margin-right: 0;
		margin-left: 0;
		width: 100%;


	}

}
